{% extends 'profile/layout.html' %}

{% block aside_style %}
    sidebar-mini
{% endblock %}

{% block content %}
{% csrf_token %}
{% with lca=list_of_control_activities %}
    <div class="conatiner-fluid mt-n5 py-0">
        <div>
            <div class="row">
                <div class="mt-n5 py-0">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Лист контрольных мероприятий</h4>
                                <a href="{% url 'Index:gss-create' lca.id %}">Добавить оценочные средства</a> |
                                <a href="{% url 'Index:lca-print' lca.id %}" target="_blank">Печатать ЛКМ</a>
                            </div>
                        </div>
                        <div class="card-body">
                            {% with checkpoints=lca.lca_checkpoints.all %}
                            <table class="table table-bordered table-sm">
                                <tr>
                                    <td rowspan="3">
                                        Студент
                                    </td>
                                    {% for cp in checkpoints %}
                                        {% for gss in cp.gradeserviceset_set.all %}
                                            <td class="p-0 text-center" colspan="{{ gss.evaluation_quantity }}">
                                                КТ {{ cp.number }} - {{ cp.date }}
                                            </td>
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for cp in checkpoints %}
                                        {% for gss in cp.gradeserviceset_set.all %}
                                            <td class="p-0 text-center" colspan="{{ gss.evaluation_quantity }}">
                                                {{ gss.grade_service }}
                                            </td>
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for cp in checkpoints %}
                                        {% for gss in cp.gradeserviceset_set.all %}
                                            {% for item in gss.lca_grade_items.all %}
                                                <td class="p-0 text-center">
                                                    <input type="date" class="form-control p-0" value="{{ item.date|date:'Y-m-d' }}" id="item_{{ item.id }}" onchange="changeDate(this)">
                                                </td>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                                {% for student in lca.group.students_set.all %}
                                    <tr>
                                        <td>
                                            {{ student.full_name }}
                                        </td>

                                        {% for cp in checkpoints %}
                                            {% for gss in cp.gradeserviceset_set.all %}
                                                {% for item in gss.lca_grade_items.all %}
                                                    <td class="p-0 text-center">
                                                        <input type="text" class="form-control" id="gr_{{ student.id }}_{{ item.id }}">
                                                    </td>
                                                {% endfor %}
                                            {% endfor %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body" id="toast-message">
            </div>
        </div>
    </div>

{% endwith %}
{% endblock %}

{% block js %}
<script>
    const url = new URL(document.documentURI);
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    const toastElement = document.getElementById('toast');
    const toastMessage = document.getElementById('toast-message');
    
    function showError() {
        const toast = new bootstrap.Toast(toastElement, {delay: 5000});
        toastElement.className = 'toast text-white bg-danger';
        toastMessage.innerText = "Ошибка при сохранении!";
        toast.show();
    }
    
    function showSuccess() {
        const toast = new bootstrap.Toast(toastElement, {delay: 700});
        toastElement.className = 'toast';
        toastMessage.innerText = "Сохранено";
        toast.show();
    }

    function changeDate(changedItem) {
        let date_value = changedItem.value == '' ? null : changedItem.value;
        let pk = changedItem.id.match(/\d/);
        let dateAPIUrl = url.origin + `/gradeitems/${pk}/update`;
        let response = fetch(dateAPIUrl, {
            method: 'PUT',
            headers: {
                'X-CSRFToken': csrftoken,
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify({'date': date_value})
        })
            .then(response => showSuccess())
            .catch(error => showError());
    }
</script>
{% endblock %}
